<div class="myContainer position-relative" #lineChartRef [hidden]="checkHidden">
    <button (click)="create($event)">
    <mat-icon>settings</mat-icon>
  </button>
    <ngx-charts-line-chart [results]="countryDATA" [scheme]="colorScheme" [schemeType]="schemeType" [view]="[lineChartRef.offsetWidth,400]" [legend]="showLegend" [legendTitle]="legendTitle" [showYAxisLabel]="showYAxisLabel" [showXAxisLabel]="showXAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [xAxis]="showXAxis" [yAxis]="showYAxis" [legendPosition]="legendPosition" [animations]="animations" [autoScale]="autoScale" [showGridLines]="showGridLines" [curve]="curve" [rangeFillOpacity]="rangeFillOpacity"
        [roundDomains]="roundDomains" [tooltipDisabled]="tooltipDisabled">

    </ngx-charts-line-chart>

</div>