* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    font-size: 30px;
    margin-right: 20px;
}


/* select button */

::ng-deep .mat-form-field-underline {
    display: none;
}


/*  */
