<div class="container">
    <h1>Chart Setting</h1>

    <div class="div">Color Scheme:</div>

    <mat-form-field appearance="fill">
        <mat-label>Choose scheme color</mat-label>
        <mat-select [(value)]="schemeColorSelected" (valueChange)="changeShemeColor($event)">
            <mat-option *ngFor="let color of colorSchemeArray" value={{color}}>{{ color }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Choose scheme type</mat-label>
        <mat-select [(value)]="schemeTypeIndex" (valueChange)="changeShemeType($event)">
            <mat-option value="0">Ordinal
            </mat-option>
            <mat-option value="1">Linear
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>Display legend:</div>
    <input type="checkbox" [(ngModel)]="showLegend" (change)="changeShowLegend($event)" />
    <div>Legend title:</div>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Legend title:</mat-label>
        <input matInput type="text" [(ngModel)]="legendTitle" (change)="changeLegendTitle($event)">
        <button *ngIf="legendTitle" matSuffix mat-icon-button aria-label="Clear" (click)="legendTitle=''">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <div class="div">Legend Position:</div>
    <mat-form-field appearance="fill">
        <mat-label>Choose position</mat-label>
        <mat-select [(value)]="legendPositionIndex" (valueChange)="changeLegendPosition($event)">
            <mat-option value="0">Below
            </mat-option>
            <mat-option value="1">Right
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div>Display XAxis:</div>
    <input type="checkbox" [(ngModel)]="showXAxis" (change)="changeShowXAxis($event)" />
    <div>Display XAxis label:</div>
    <input type="checkbox" [(ngModel)]="showXAxisLabel" (change)="changeShowXAxisLabel($event)" />
    <div>display YAxis:</div>
    <input type="checkbox" [(ngModel)]="showYAxis" (change)="changeShowYAxis($event)" />
    <div>Display YAxis label:</div>
    <input type="checkbox" [(ngModel)]="showYAxisLabel" (change)="changeShowYAxisLabel($event)" />
    <div>Show grid lines:</div>
    <input type="checkbox" [(ngModel)]="showGridLine" (change)="changeShowGridLine($event)" />
    <div>Disable tooltip:</div>
    <input type="checkbox" [(ngModel)]="tooltipDisabled" (change)="changeTooltipDisabled($event)" />


    <button (click)="onClose()"> Close setting</button>
</div>